<h2>AP Courses</h2>
<br>
<p>Want more challenges? Consider taking <a href="https://apstudent.collegeboard.org/apcourse/ap-computer-science-a" target="_blank">AP Computer Science A</a>, where you will "Learn to design and implement computer programs that solve problems relevant to today’s society, including art, media, and engineering" and more. <a href="https://apstudent.collegeboard.org/apcourse/ap-computer-science-principles" target="_blank">AP Computer Science Principles</a> is another option. This course will "you to the essential ideas of computer science and shows how computing and technology can influence the world around you."</p>
<br>
