<h2>National Olympiad of Informatics</h2>
<br>
<p>Want more challenges? Consider participating in the <a href="http://www.noi.cn" target="_blank">National Olympiad of Informatics</a>, which seeks "to provide opportunities for talented students to communicate with and learn from each other, and to cultivate and select CS talents.” <a href="/bib/?entry=ccf2016">(CCF 2016)</a></p>
<br>
