<h2>Free resources to learn CS</h2>
<br>
<p>There are many free resources to learn CS. The list bellow shows some places to start. Explore further yourself, or share with others who might be interested!</p>
<ul class = "resources">
<li><a href="https://code.org/learn" target="_blank"><h3>Code.org Hour of Code</h3></a></li>
<p>
One-hour online games/tutorials for students with little or no CS background to explore CS.
</p>
<li><a href="https://girlswhocode.com" target="_blank"><h3>Girls Who Code</h3></a></li>
<p>
A non-profit organization that offers free CS clubs and summer immersion programs for middle and high school girls in many states.
</p>
<li><a href="https://edu.google.com/cs/learn/student.html" target="_blank"><h3>Google CS Education</h3></a></li>
<p>
A variety of resources and programs to help students learn CS.
</p>
<li><a href="https://scratch.mit.edu/about" target="_blank"><h3>Scratch</h3></a></li>
<p>
Developed by MIT, Scratch is a programming language and platform for young people to code and share creative projects.</p>
<li><a href="http://csunplugged.org" target="_blank"><h3>CS Unplugged</h3></a></li>
<p>
A set of activities for students to explore CS without using a computer, created by the University of Canterbury.
</p>
<li><a href="http://csfieldguide.org.nz/en/index.html" target="_blank"><h3>CS Field Guide</h3></a></li>
<p>
“An online interactive resource for high school students learning about computer science”, created by the University of Canterbury.
</p>
</ul>
<br>
