<h2>Criticisms of the IT curriculum standard</h2>
<br>
<p class="previous"><a href="/current_chn">For more analysis, see Current Situation: China</a></p>
<p>When the curriculum was first developed, it assumed that students had little background in computing. Yet now many students grew up immersed in technologies, and primary and middle schools also started to teach IT. Foundations of Information Technology has a lot of overlaps with the middle schools IT curriculum <a href="/bib/?entry=xiao2014">(Xiao, Guo, Fan & Huang 2014)</a>. Having to learn what they have already known, students may quickly lose interest in IT.</p>
<br>
