<h2>Examples of non-traditional curriculums</h2>
<br>
<p class="previous"><a href="/current_us">For more analysis, see Current Situation: U.S.</a></p>
<ul class = "nontraditional">
<li><a href="http://www.exploringcs.org/curriculum" target="_blank"><h3>Exploring Computer Science</h3></a></li>
<p>
Researchers in Los Angeles Unified School District found that AP CS may be too difficult for high school students with no prior experience, so they developed a new full curriculum named Exploring Computer Science. While they wished that their curriculum could serve as a model nationwide, they also recognized that part of the curriculum was unique to the school district, thus researches in other school districts would need to do further research and modify the curriculum to best fit the students’ interest.
</p>
<li><a href="http://gacomputes.cc.gatech.edu/Members/yardi/HCI_Guide.pdf" target="_blank"><h3>Introduction to HCI for Teenagers</h3></a></li>
<p>
Researchers at Georgia Computes found that high school students may perceive CS as boring, asocial, tedious, and irrelevant to their lives <a href = "/bib/?entry=yardi">(Yardi & Bruckman 2007)</a>. In order to alter students’ negative perceptions of CS, the researchers created an “Introduction to HCI for Teenagers” curriculum to introduce the more socially relevant part of CS as well as connecting teenagers to graduate students in HCI, who tended to perceive CS as exciting, social, and meaningful <a href = "/bib/?entry=yardi">(Yardi & Bruckman 2007)</a>.
</p>
<li><a href="http://csunplugged.org" target="_blank"><h3>CS Unplugged</h3></a></li>
<p>
A group at the University of Canterbury came up with fun outreach activities such as CS Unplugged that seek to give students a taste of the excitement of CS without having them to dive into the intimidating syntax of programming first.
</p>
</ul>
<br>
