<h2>Volunteer with the non-profits</h2>
<br>
<p>If you want to help further expand CS education to more high school students, especially traditionally underrepresented students, consider helping out the non-profits such as <a href="https://code.org/help" target="_blank">Code.org</a> or volunteering with <a href="https://girlswhocode.com/volunteer/" target="_blank">Girls Who Code.</a></p>
<br>
