<h2>Role of policies</h2>
<br>
<p class="previous"><a href="/current_us">For more analysis, see Current Situation: U.S.</a></p>
<p>
Currently, the industry and non-profits offer various programs to expand CS education, but the high schools still have the ability to reach out to the most amount of students.  In order for more high schools to provide CS education, policies on graduation requirements play an important role. ACM & CSTA argue that CS courses should be able to count towards high school graduation requirements; they should not be just another elective course that does not count, which is also the current case with many schools<a href="/bib/?entry=acm">(ACM & CSTA 2010)</a>. Once the priority for CS courses is set through academic rigor and graduation requirements, more resources will follow up more easily.</p>
<br>
