<h2>IT curriculum reform</h2>
<br>
<p class="previous"><a href="/forward_chn">For more analysis, see Looking Forward: China</a></p>
<p>Realizing that the 2003 IT curriculum standard has become outdated and seeing popular responses on computational thinking internationally, researchers are searching for ways to reform the curriculum and bring in computational thinking. </p>
<br>
