<h2>So what is computer science?</h2>
<br>
<p>
Computer science is a lot more than just programming. It is an exciting, creative and challenging field that can involve the study of interesting topics such as <a href="http://csfieldguide.org.nz/en/chapters/human-computer-interaction.html" target="_blank">Human-Computer Interaction</a>, which improves designs for better user experiences, and <a href="http://csfieldguide.org.nz/en/chapters/computer-graphics.html" target="_blank">computer graphics</a>, which powers computer game animations and more.
</p>
<p>
<a href="https://www.csteachers.org" target="_blank">Computer Science Teacher Association</a> in the U.S. defines computer science as "an academic discipline that encompasses the study of computers and algorithmic processes, including their principles, their hardware and software designs, their applications, and their impact on society." <a href = "/bib/?entry=acm">(ACM & CSTA 2010)</a>
</p>
<br>
