<div class = "footer">
<div class="sticky-stopper"></div>
<p>By Wanyi Chen &nbsp &nbsp |  &nbsp &nbsp wanyi02 (at) live.unc.edu</p>
<p>Last updated June 2017</p>
<br>
<p>Header Image Credits &nbsp &nbsp
<a href="https://www.shutterstock.com/image-illustration/concept-internet-connection-via-satellite-communication-235135786?src=csl_recent_image-1" target="_blank">1</a>
&nbsp &nbsp  |  &nbsp &nbsp <a href="https://www.touchdynamic.com/windows-tablet-pos-three-must-add-ons/" target="_blank">2</a> </p>
</div>
