<form action="/explore" method="post">
<label>I am a &nbsp</label>
<div class="dropdown">
<select name = "role" id = "role">
  <option value="student" class="option">high school student</option>
  <option value="teacher">high school CS teacher</option>
  <option value="policy">policy maker</option>
  <option value="other">other</option>
</select>
</div>
<div class="dropdown">
<label>&nbsp in &nbsp</label>
<select name = "country" id = "country">
  <option value="us">the U.S.</option>
  <option value="chn">China</option>
</select>
<label>.</label>
</div>

<button type="submit" action="/explore">Go</button>
</form>
<br>
