<div class = "header">
	<p><img id = "headerImg" src="/partials/header.png" alt="header"/></p>
	<p id = "headerText">Computer Science Education <br> for U.S. and Chinese High School Students</p>
</div>
