<div class = "menu sticky">
	<ul>
		<li id = "hambuger">Menu &nbsp &nbsp &nbsp<img id="icon" src="/images/menuIcon.png"></li>
		<div id = "menuContent">
		<a href="/"><li>Introduction</li></a>
		<div class = "expand" id = "expand1"><li>History</li></div>
			<div class = "subMenu" id = "sub1">
			<a href="/history_us"><li>U.S.</li></a>
			<a href="/history_chn"><li>China</li></a>
			</div>
		<div class = "expand" id = "expand2"><li>Current Situation</li></div>
			<div class = "subMenu" id = "sub2">
			<a href="/current_us"><li>U.S.</li></a>
			<a href="/current_chn"><li>China</li></a>
			</div>
		<a href="/comp"><li>Comparison</li></a>
		<div class = "expand" id = "expand3"><li>Looking Forward</li></div>
			<div class = "subMenu" id = "sub3">
			<a href="/forward_us"><li>U.S.</li></a>
			<a href="/forward_chn"><li>China</li></a>
			</div>
		<a href="/conclusion"><li>Conclusion</li></a>
		<a href="/bib"><li>Bibliography</li></a>
		<a href="/about"><li>About</li></a>
		<a href="/explore"><li id = "explore">Explore Further</li></a>
	</div>
	</ul>
</div>
