<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">
<br>
<h1>About</h1>
<br>
<p>
My name is Wanyi Chen, and I am an undergraduate student in the University of North Carolina at Chapel Hill. I did not learn computer science in high school. When I first came across computer science in college and immediately became interested in it, I suddenly wondered why I had not known it earlier. That small curiosity soon grew stronger and stronger.
</p>
<p>
In fall 2016, I did an independent study with Prof. <a href="https://aeshin.org" target="_blank">Ryan Shaw</a> in the School of Information and Library Science to study CS education in U.S. and Chinese high schools. This site is an experiment to present the research results in non-linear hypermedia instead of a regular research paper. By building an interactive website，I wish to present the research in a more engaging, personalized way.
</p>
<br>
</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
</body>
</html>
