<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content" id = "bib">
<br>
<h1>Bibliography</h1>
<br>
<p id = "accenture">
Accenture, & Girls Who Code. (2016). <i>Cracking the Gender Code: Getting 3X More Women in Computing</i>.
Accessed 2017, May 27. &nbsp <a href="https://www.accenture.com/t20161018T094638__w__/us-en/_acnmedia/Accenture/next-gen-3/girls-who-code/Accenture-Cracking-The-Gender-Code-Report.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "acm">
Association for Computing Machinery, & Computer Science Teachers Association. (2010). <i>Running on Empty: The Failure to Teach K-12 Computer Science in the Digital Age.</i> New York, NY: Wilson, C., Sudol, L. A., Stephenson, C., & Stehlik, M.
Accessed 2017, May 27. &nbsp <a href="http://runningonempty.acm.org/fullreport2.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "bell">
Bell, T., Alexander, J., Freeman, I., & Grimley, M. (2009). Computer science unplugged: School students doing real computing without computers. <i>The New Zealand Journal of Applied Computing and Information Technology, 13</i>(1), 20-29.
Accessed 2017, May 27. &nbsp <a href="http://www.cosc.canterbury.ac.nz/tim.bell/cseducation/papers/Bell%20Alexander%20Freeman%20Grimley%202009%20JACIT.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "charette">
Charette, R. N. (2013). The STEM crisis is a myth. <i>IEEE Spectrum, 50</i>(9), 44-59.
Accessed 2017, May 27. &nbsp <a href="http://www.k12accountability.org/resources/STEM-Education/The_STEM_Crisis_Is_a_Myth.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
<p id = "ccf2014">
Chinese Computing Federation. (2016) <i>Analysis on Partial Statistical Data of NOIP 2014</i> (in Chinese).
Accessed 2017, May 27. &nbsp <a href="http://www.noi.cn/noi-news/noi/656-ccfnoip2014" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "ccf2016">
Chinese Computing Federation. (2016) <i>About the National Teenager Olympiad of Informatics</i> (in Chinese).
Accessed 2017, May 27. &nbsp <a href="http://www.noi.cn/about/summary" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
<p id = "cb">
College Board. (2014) <i>The 10th Annual Report to the Nation: Computer Science A</i>.
Accessed 2017, May 27. &nbsp <a href="http://media.collegeboard.com/digitalServices/pdf/ap/rtn/10th-annual/10th-annual-ap-report-subject-supplement-computer-science-a.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "erikson">
Erikson, E. H. (1994). <i>Identity: Youth and crisis (No. 7)</i>. WW Norton & Company.
</p>
<p id = "ferster">
Ferster, B. (2014). <i>Teaching Machines: Learning from the intersection of education and technology.</i> JHU Press.
</p>
<p id = "gwc">
Girls Who Code. (2015). <i>Girls Who Code 2015 Annual Report.</i>
Accessed 2017, May 27. &nbsp <a href="https://girlswhocode.com/2015report/" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "golumbia">
Golumbia, D. (2009). <i>The Cultural Logic of Computation.</i> Cambridge, MA: Harvard University Press.
</p>
<p id = "goode">
Goode, J., & Margolis, J. (2011). Exploring computer science: A case study of school reform. <i>ACM Transactions on Computing Education (TOCE), 11</i>(2), 12.
Accessed 2017, May 27. &nbsp <a href="https://pdfs.semanticscholar.org/c5ce/6dfe90734e7e42901867aa9f8db01c9f8489.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "google2015">
Google. (2015). <i>Images of Computer Science: Perceptions Among Students, Parents, and Educators in the U.S..</i>
Accessed 2017, May 27. &nbsp <a href="https://services.google.com/fh/files/misc/images-of-computer-science-report.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "google2016">
Google. (2016). <i>Trends in the State of Computer Science in U.S. K-12 Schools.</i>
Accessed 2017, May 27. &nbsp <a href="http://services.google.com/fh/files/misc/trends-in-the-state-of-computer-science-report.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "grover">
Grover, S., & Pea, R. D. (2013). Computational Thinking in K–12 A Review of the State of the Field. <i>Educational Researcher, 42</i>(1), 38-43.
Accessed 2017, May 27. &nbsp <a href="http://www.amanyadav.org/CEP991A/wp-content/uploads/2014/08/Grover_Pea_2013.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "li">
Li, Y., Zhu, C., and Dong, Y. (2003). High school information technology curriculum standard and its developmental process. <i>China Educational Technology, 7,</i> 13-17. (in Chinese)
</p>
<p id = "liu">
Liu, X. and Dong, Y. (2012). Predicaments and opportunities in realizing the value of information technology curriculum. <i>E-education Research, 1,</i> 85-89. (in Chinese)
</p>
<p id = "nan">
Nan, G. (2001). Information Technology Education and the Cultivation of Creative Talents. <i>E-education Research, 8,</i> 42-25. (in Chinese)
</p>
<p id = "obama">
Obama, B. (2016). <i>Weekly Address: Giving Every Student an Opportunity to Learn Through Computer Science For All.</i>
Accessed 2017, May 27. &nbsp <a href="https://www.whitehouse.gov/photos-and-video/video/2016/01/29/weekly-address-giving-every-student-opportunity-learn-through-comp" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "papert1987">
Papert, S. (1987). Computer criticism vs. technocentric thinking. <i>Educational researcher, 16</i>(1), 22-30.
</p>
<p id = "papert1991">
Papert, S., & Harel, I. (1991). <i>Situating constructionism. Constructionism, 36,</i> 1-11.
</p>
<p id = "partovi">
Partovi, H. (2014). <i>The “Secret Agenda” of Code.org.</i>
Accessed 2017, May 27. &nbsp <a href="http://blog.code.org/post/73963049605/the-secret-agenda-of-codeorg" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "pea">
Pea, R. D., & Kurland, D. M. (1984). On the cognitive effects of learning computer programming. <i>New ideas in psychology, 2</i>(2), 137-168.
</p>
<p id = "ren">
Ren, Y., Sui, F., & Li, F. (2016). Meeting Real Digital Natives: The Necessities and Possibilities of Bringing Computational Thinking to K-12. <i>China Educational Technology, 348,</i> 2-8. (in Chinese)
</p>
<p id = "resnick">
Resnick, M., Maloney, J., Monroy-Hernández, A., Rusk, N., Eastmond, E., Brennan, K., ... & Kafai, Y. (2009). Scratch: programming for all. <i>Communications of the ACM, 52</i>(11), 60-67.
Accessed 2017, May 27. &nbsp <a href="http://web.media.mit.edu/~mres/papers/Scratch-CACM-final.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "slack">
Slack, J. D. (1996). <i>Stuart Hall: Critical dialogues in cultural studies.</i> Routledge: London, UK.
</p>
<p id = "teitelbaum">
Teitelbaum, M. S. (2014). <i>Falling behind?: Boom, bust, and the global race for scientific talent.</i> Princeton University Press.
</p>
<p id = "edepart2003">
The Education Department. (2003). <i>General High School Technology Curriculum Standards (Experimental Version).</i> (in Chinese)
</p>
<p id = "edepart2015">
The Education Department (2015). <i>Basic Information of the Computer Science and Technology Major.</i> (in Chinese)
</p>
<p id = "ccc">
The Central Committee of the Communist Party of China & The State Council. (1993). <i>Outline of China’s Education Reform and Development.</i> (in Chinese)
</p>
<p id = "whitehouse">
The White House. (2016). <i>FACT SHEET: President Obama Announces Computer Science for All Initiative.</i>
Accessed 2017, May 27. &nbsp <a href="https://obamawhitehouse.archives.gov/the-press-office/2016/01/30/fact-sheet-president-obama-announces-computer-science-all-initiative-0" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "wang">
Wang, H., Yin, B., & Li, W. (2007). Development and exploration of Chinese national olympiad in informatics (CNOI). <i>Olympiads in Informatics, 1,</i> 165-174.
</p>
<p id = "wing">
Wing, J. M. (2006). Computational Thinking. <i>Communications of the ACM, 49</i>(3), 33-35.
Accessed 2017, May 27. &nbsp <a href="https://www.cs.cmu.edu/~15110-s13/Wing06-ct.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "xiao2015">
Xiao, G., and Gao, D. (2015). Cultivating Computational Thinking: New Choice of ICT in High School. <i>Modern Educational Technology, 25</i>(7), 38-43. (in Chinese)
</p>
<p id = "xiao2014">
Xiao, G., Guo, F., Fan, L., and Huang, R. (2014). Investigation of the implication status of IT curriculum standards for high schools: Findings and suggestions. <i>Curriculum, Teaching Material and Method, 34</i>(1), 50-55. (in Chinese)
</p>
<p id = "xu">
Xu, X. (2012). <i>The study on the integration of the teaching of algorithm in high school of information technology and mathematics curriculum (Master’s thesis).</i> Retrieved from CNKI master’s thesis database. (in Chinese)
</p>
<p id = "yardi">
Yardi, S., & Bruckman, A. (2007, September). What is computing?: bridging the gap between teenagers' perceptions and graduate students' experiences. In Proceedings of the third international workshop on Computing education research (pp. 39-50). <i>ACM.</i>
Accessed 2017, May 27. &nbsp <a href="https://pdfs.semanticscholar.org/1a23/a1dbb5dec84c4b5c829c9dc88810b167df74.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
<p id = "zhu">
Zhu, C., and Li, Y. (2005). Why information technology courses are overly technical and how to counter the trend. <i>Education Exploration, 3,</i> 20-22. (in Chinese)
</p>
<p id = "zweben">
Zweben, S., & Bizot, B. (2016). 2015 Taulbee Survey. <i>Computing Research News, 28</i>(5).
Accessed 2017, May 27. &nbsp <a href="http://cra.org/wp-content/uploads/2016/05/2015-Taulbee-Survey.pdf" target="_blank">
<img class="link" src="/images/link.png" onmouseover="this.src='/images/lightLink.png'" onmouseout="this.src='/images/link.png'" alt="link"></img>
</a>
</p>
</div>
</div>

<% include partials/footer.ejs %>

<script src = "/partials/jquery-3.2.1.js"></script>
<script src = "/partials/script.js"></script>
<script><% include partials/formScript.ejs %></script>

<script>
//scroll to the selected bib entry and slightly highlight it
var entry = getParameterByName('entry');
var bib = $(document.getElementById(entry));
bib.css("background-color","rgb(198, 233, 255)");
$('html, body').animate({scrollTop: bib.offset().top - 110}, 10);

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
</script>

</body>
</html>
