<!doctype html>
<html>
<% include partials/head.ejs %>
<style>
#img1{
  width: 90%;
}
</style>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">
<br>
<h1>Comparison</h1>
<br>
<h2>The Motivations</h2>
<br>
<p>
For the U.S., the main motivation for high school CS education is industrial demands. For China, the main motivation is to prepare students to be qualified citizens of the information age. Due to different motivations, the two countries have different practitioners in CS education. Because China has strong precollege math and science education, and there is little talk about “the STEM worker shortage”, thus unlike the U.S., industry does not play a substantial role in Chinese CS education. Also, there are few, if any, Chinese non-profits seeking to popularize CS knowledge, probably because all schools are required to incorporate the IT curriculum already.
</p>
<h2 class = "readMore" id = "readMore1">Read More &nbsp &nbsp &nbsp<img class="downArrow" src = '/images/arrows.png'/></h2>
<div class = "moreText" id = "text1">
<p>
However, these two motivations are not totally unrelated. In his weekly address promoting the CS for All initiative, President Obama proclaimed, “they [the young people] are the ones to ensure America, the country that invented this stuff [CS] in the first place, keeps growing, keeps innovating, and keeps leading the world in the years ahead.” <a href="/bib/?entry=obama">(Obama 2016)</a> By pointing out that CS originated in the U.S., Obama is appealing to a strong sense of national pride—the pride of being a U.S. citizen. On the other hand, in China the IT curriculum is seen as part of quality-oriented education, and an important aim of quality-oriented education is to improve the overall quality of the future workforce. This aim, too, is driven by industrial demands.
</p>
</div>
<h2 class = "showLess" id = "showLess1">Show Less &nbsp &nbsp &nbsp<img class="upArrow" src = '/images/arrows.png'/></h2>

<br>
<h2>Uneven Distribution of Resources</h2>
<br>
<p>
For both countries, resources for high quality education are very limited. Worse, the scarce resources are distributed highly unevenly. Traditionally more privileged groups are more likely to get access to CS education in high school. In the U.S., middle and higher class white and Asian males are more likely to get access. In China, although the IT curriculum is implemented by every high school, richer high schools are more likely to offer more challenging electives (e.g. Introduction to Artificial Intelligence), CNOI trainings, and even AP CS. Males are also more likely to major in CS than females. The uneven distribution of resources has historical roots: in the U.S., people with higher socioeconomic power are more likely to be white males due to historic reasons, and in China, the society has long been patriarchal.
</p>
<h2 class = "readMore" id = "readMore2">Read More &nbsp &nbsp &nbsp<img class="downArrow" src = '/images/arrows.png'/></h2>
<div class = "moreText" id = "text2">
<p>
Yet there is no naturally, or genetically, existing relationships among race, gender, and computer science. Articulations play a large part in forming and reinforcing the stereotypes of CS. For instance, in the U.S., when personal computers first entered market, many were advertised as toys for young boys. In movies and TV shows too, white and Asian males were far more likely to do computer science than any other group <a href="/bib/?entry=google2015">(Google 2015)</a>. When media portrayals frequently associate CS with certain race and gender groups, more marginalized groups like females and URMs may feel discourage to pursue CS.
</p>
<p><img src="images/gwc.jpg" alt="Girls Who Code" id = "img1"/></p>
<p class = "caption"><a href = "http://money.cnn.com/2016/01/19/technology/girls-who-code-1-million-in-scholarships/" target="_blank">Non-profits Like Girls Who Code Trying to Close the Gender Gap</a></p>
<p>
One of the most prominent inequalities in CS education in both countries is the gender gap. In the U.S., according to a research by <a href="https://girlswhocode.com" target="_blank">Girls Who Code</a> and Accenture, the largest drop off of percentages of girls interested in CS happen in high school <a href="/bib/?entry=accenture">(Accenture & Girls Who Code 2016)</a>. While various factors may be at play in forming the “high school trap”, from developmental psychology’s point of view, in high schools teenagers are more aware of their sexual development, and they are very susceptible to peer pressure. Thus if females do not see their friends choosing CS courses, they are less likely to do so as well <a href="/bib/?entry=google2015">(Google 2015)</a>. On the other hand, in China students usually do not have the freedom to choose individual courses: they can only choose tracks. Thus if everyone is required to take the same courses, females may feel less awkward in taking CS courses. Yet notably, while the gender gap still clearly exists in China, there are very few researches on this topic, so it remains unclear what factors contributed to the gender gap.
</p>
<p>
Realizing these problems, efforts are on the way to make changes. Especially in the U.S., various organizations are trying to disarticulate the strong associations between CS and certain demographic groups, and to rearticulate CS as something for everyone. Developing culturally relevant curricula and creating inclusive classroom environments, too, can be vital. Indeed, if high school females see “students like me” engaged in CS, they are more likely to be interested as well <a href="/bib/?entry=google2015">(Google 2015)</a>.
</p>
</div>
<h2 class = "showLess" id = "showLess2">Show Less &nbsp &nbsp &nbsp<img class="upArrow" src = '/images/arrows.png'/></h2>

<br>
<h2>The International Trend: CS for Everyone</h2>
<br>
<p>
Regardless of motivations, education practitioners in both countries think that CS should be for everyone: it is no longer enough to simply teach students how to use software, which is the current case with many computer classes in both countries. Instead, students should be creators of software and drive future innovations. “As we see it, digital fluency requires not just the ability to chat, browse, and interact but also the ability to design, create, and invent with new media,” <a href="/bib/?entry=resnick">(Resnick et al. 2009)</a> said the <a href="https://scratch.mit.edu" target="_blank">Scratch</a> developers. Many support this view, and following this view, both countries have identified problems in their high school CS education. In the U.S., researchers have found that “states are focused almost exclusively on skill-based aspects of computing (such as, using a computer in other learning activities) and have few standards on the conceptual aspects of computer science that lay the foundation for innovation and deeper study in the field.” <a href="/bib/?entry=acm">(ACM & CSTA 2010)</a> In China, researchers have pointed out that most of the IT curriculum simply teaches students how to use various software applications <a href="/bib/?entry=zhu">(Zhu & Li 2005)</a>, and that the electives which do incorporate significant CS knowledge to empower students to be creators (e.g. Algorithm and Program Design) are being offered a lot less often <a href="/bib/?entry=xiao2014">(Xiao, Guo, Fan & Huang 2014)</a>.
</p>
<h2 class = "readMore" id = "readMore3">Read More &nbsp &nbsp &nbsp<img class="downArrow" src = '/images/arrows.png'/></h2>
<div class = "moreText" id = "text3">
<p><img src="images/scratch.jpg" alt="Scratch" width="300"/></p>
<p class = "caption"><a href = "https://cacm.acm.org/magazines/2009/11/48421-scratch-programming-for-all/fulltext" target="_blank">Scratch Trying to Foster Creativity and Make Programming for All</a></p>
<p>
In light of the need for CS for everyone, in both countries school is the most important channel for high school CS education. In the U.S., although industry and non-profits offer various programs, the high schools still have the ability to reach out to the most amount of students. In China, almost all efforts of CS education are linked to high schools. In order for more high schools to provide CS education, policies on graduation requirements play an important role in both countries, and assessment criteria plays an important role in establishing policies on graduation requirements: knowing how to assess CS makes it easier for schools to count CS as part of graduation requirement, and consequently to allocate more resources to CS. Yet CS education has faced tensions with assessments in both countries. Especially in China, while knowing the importance of assessments, educators struggle hard not to make the IT curriculum another exam-oriented curriculum.
</p>
<p>
Along with assessment criteria, graduation requirement, and other factors, articulation is also important in advocating CS education. In order for more people to realize the importance of CS education, various efforts have been made to articulate high school CS course as a rigorous academic discipline of fundamental importance, rather than as optional technical or vocational training. Some influential organizations such as ACM and CSTA tried to articulate different definitions of “computer science” and “technology literacy and fluency”, giving a more rigorous definition to the former <a href="/bib/?entry=acm">(ACM & CSTA 2010)</a>. A lot of practitioners also looked at the articulation of computational thinking as a way to elevate the status of CS education, for Wing claims that computational thinking should be as fundamental in education as reading, writing, and arithmetic <a href="/bib/?entry=wing">(Wing 2006)</a>. Computational thinking has evoked popular responses internationally: many U.S. curriculums, including AP CS Principles, now adapt principles of computational thinking, and Wing’s original three-page article has been translated into Chinese as well.
</p>
<p>
However, there are some that articulate against overstressing the importance of computational thinking, or STEM in general. Some argue that computation cannot fundamentally transform human societies, and the rigid and orderly ways computer programs work may not be the way complex human societies work <a href="/bib/?entry=golumbia">(Golumbia 2009)</a>. Thus, it is doubtful whether computational thinking is as fundamental as its supporters claim to be, and whether it is as useful in daily lives. Moreover, in trying to get more students interested in CS, many paint rosy pictures of technology by saying that “CS is changing the world”, or “technology empowers people”, or “technology does social good”, etc. While technology may indeed change some people’s lives for the better, these rosy pictures often ignore the negative sides of technology, which are worthy to keep in mind as well. Thus, while CS education and computational thinking are important, stressing those should not come at the expense of further marginalizing some other disciplines with less emphasis devoted to, usually humanities and the arts.
</p>
</div>
<h2 class = "showLess" id = "showLess3">Show Less &nbsp &nbsp &nbsp<img class="upArrow" src = '/images/arrows.png'/></h2>
<br>

<br>
<h1>Next</h1>
<br>
<a class = "next" href="/forward_us"><h2>Looking Forward: U.S. &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
Student interest in CS is skyrocketing: undergraduate enrollment in CS programs is expanding quickly.
</p></a>
<br>
<a class = "next" href="/forward_chn"><h2>Looking Forward: China &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
China sees opportunities in bringing computational thinking into the IT curriculum.
</p></a>

</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
</body>
</html>
