<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">
<br>
<h1>Conclusion</h1>
<br>
<p>
In today’s “information age”, the U.S. and China respond differently to the opportunities and challenges of bringing CS education to high school students, yet both struggle over the uneven distribution of resources. Along with other factors, articulation plays an important role in the struggle of CS education, correcting stereotypes as well as elevating the status of CS education. In the international trend of CS for everyone, both countries will continue to push forward and expand access to high quality CS education in high school.
</p>
<br><br><br><br><br><br><br>
</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
<script><% include partials/formScript.ejs %></script>

</body>
</html>
