<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">


</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>

</body>
</html>
