<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">
<br>
<h1>Looking Forward: U.S.</h1>
<br>

<h2>Dealing with Scale</h2>
<br>
<p>
Currently in the U.S., student interest in CS is skyrocketing: undergraduate enrollment in CS programs is expanding quickly. While a few years ago many researchers focused on the question of how to get more students interested in CS, the newest Google national survey shows that most students view CS positively, yet “principles and superintendents do not perceive high demand for CS education among students and parents.” Thus, Google sees the gap as an opportunity to further expand CS education <a href="/bib/?entry=google2016">(Google 2016)</a>.
</p>
<p>
However, it can be hard for education to scale. Some researchers have expressed the tension between the need to establish more solid curriculums and the eager desire to scale up, “we are wrestling with the tension between: (a) the pace—the steady, arduous work it takes to build this program in a large school district to make it successful and institutionalize it, and (b) the desire—to scale it up, increase the numbers of classes, students, and teachers.” <a href="/bib/?entry=goode">(Goode & Margolis 2011)</a> Resources are still limited, yet the demand is fast expanding, thus scaling is inevitable. With skyrocketing demands and unequal distribution of resources then, the situation becomes a challenging question of how to meet these demands more evenly. Also, with the historical data of undergraduate enrollment in mind, the situation also poses the question of how can the U.S. avoid another “alert-boom-bust” cycle.
</p>

<br>
<h1>Across the Globe</h1>
<br>
<a class = "next" href="/forward_chn"><h2>Forward: China &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
China sees opportunities in bringing computational thinking into the IT curriculum.
</p></a>
<br>
<h1>Next</h1>
<br>
<a class = "next" href="/conclusion"><h2>Conclusion &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
The U.S. and China respond differently to the opportunities and challenges of bringing CS education to high school students, yet both struggle over the uneven distribution of resources.
</p></a>
</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
<script><% include partials/formScript.ejs %></script>

</body>
</html>
