<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">
<div class = "content">
<br>
<h1>Looking Forward: China</h1>
<br>

<h2>Reforming the IT Curriculum</h2>
<br>
<p>
Realizing that the 2003 IT curriculum standard has become outdated and seeing popular responses on computational thinking internationally, China sees opportunities in bringing computational thinking into the IT curriculum as well. Researchers searching for ways to reform the curriculum have recognized both the necessity and the possibility to do so. Currently the curriculum mostly teaches students how to use software, so as the software constantly updates and changes, the teachings must change accordingly too. Yet as a higher-level thinking pattern, computational thinking stands relatively independently of software changes, thus bringing in computational thinking can give the curriculum more stability, and shape it more like an academic discipline <a href="/bib/?entry=xiao2015">(Xiao & Gao 2015)</a>. The researchers believe that China has met the sufficient conditions for bringing in computational thinking as well, for all high schools are offering IT courses already, most schools have specialized IT teachers, and there are many readily available software for students to learn programming <a href="/bib/?entry=xiao2015">(Xiao & Guo 2015;</a><a href="/bib/?entry=ren"> Ren, Sui & Li 2016)</a>.
</p>
<p>
Yet researchers have pointed out some cautionary points as well. For instance, many U.S. educators advocate that computational thinking is transferable to different disciplines, yet given the context of Chinese education, it is too early for Chinese high schools to focus on the transferable effects of computational thinking <a href="/bib/?entry=xiao2015">(Xiao & Gao 2015)</a>. Many other challenges remain, too, as any changes made in the curriculum standard will affect the whole nation.

<br>
<h1>Across the Globe</h1>
<br>
<a class = "next" href="/forward_us"><h2>Forward: U.S. &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
Student interest in CS is skyrocketing: undergraduate enrollment in CS programs is expanding quickly.
</p></a>
<br>
<h1>Next</h1>
<br>
<a class = "next" href="/conclusion"><h2>Conclusion &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
The U.S. and China respond differently to the opportunities and challenges of bringing CS education to high school students, yet both struggle over the uneven distribution of resources.
</p></a>
</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
</body>
</html>
