<!doctype html>
<html>
<% include partials/head.ejs %>
<style>
#img1{
  width: 90%;
}
</style>

<body>

<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<div class="main">

<div class = "content">
<br>
<h1>Introduction</h1>
<br>
<p><img src="images/wordCloud.png" alt="word cloud" id = "img1"/></p>
<p>
Today's age is commonly referred to as "the information age." The IT industry is often seen as one of the fastest growing industries, and across the globe digital technologies are transforming people's everyday lives. "Computer science (CS) is changing the world." People often say. However, if computer science is shaping the future, then who will be the next generation of computer scientists to shape the future? Who get early access and a head start to computer science, and who should get access? In what ways are access provided? CS education for high school students plays an important role. In high school students first began to make decisions that may have life-long impacts, such as whether to go to college, and if so, what to major in college. From a developmental psychology's perspective, according to Erik Erikson's theory, teenagers are trying to resolve the crisis of "identity vs. role confusion": they are forming their identity and thinking about their potential roles in the society <a href="/bib/?entry=erikson">(Erikson 1994)</a>. Thus, having a better understanding of computer science at this stage can help them to make more informed decisions, and clearing out stereotypes can be crucial.
</p>
<p>
To understand the current situation and impacts of high school CS education, this paper takes a cultural studies approach. Cultural studies' concept of articulation-the artificial association of distinct notions, provides a framework for analysis <a href="/bib/?entry=slack">(Slack 1996)</a>. By looking at how CS is articulated with distinct notions such as race, gender, power, and citizenship, this paper attempts to explain the reasoning and struggles behind the classroom scenes. Further, it is important to place the current situation in conjuncture with historical context, for many articulations have shifted over time, and many current problems may have historical roots, as high school CS education is not an isolated phenomenon.
</p>
<p>
This site will bring together and examine various literatures on how U.S. and China respond to the opportunities and challenges of bringing CS to high school students, regardless of whether the education occurs in traditional classroom contexts. The paper will first trace through the historical development, and then paint the big picture of how various education practitioners, carrying slightly different motivations, approach CS education. The comparison and contrast of the two countries further shed light on the issue in a global context. Finally, looking forward, the paper will discuss the implications and new challenges for both countries.
</p>
<br>

<br>
<h1>Next</h1>
<br>
<a class = "next" href="/history_us"><h2>History: U.S. &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
In the U.S., Seymour Papert led one of the earliest movements of computer education for children.
</p></a>
<br>
<a class = "next" href="/history_chn"><h2>History: China &nbsp &nbsp &nbsp &nbsp<img class="arrow" src = '/images/arrows.png'/></h2>
<br>
<p>
China's movement of educating children and teenagers about computers started in the mid 1980s, ignited by a rallying call from the former prime minister.
</p></a>
<br>

</div>
</div>

<% include partials/footer.ejs %>

<script src = "partials/jquery-3.2.1.js"></script>
<script src = "partials/script.js"></script>
<script><% include partials/formScript.ejs %></script>

</body>
</html>
